<h1>All items</h1>

<ul id="items">
  <% @items.each do |item| %>


	<% content_tag_for :li, item do %> 
 	<span class="handle">[drag]</span>
	  <%= link_to item.title, item %> 

	<% end %>  

  <% end %>
</ul>
<%= sortable_element("items", :url => sort_items_path, :handle => "handle") %> 

