<header>

  <%= image_tag("http://profile.ak.fbcdn.net/hprofile-ak-snc4/50254_340377697003_6059318_n.jpg", :alt => "Sample App", :class => "round") %>
  <nav class="round">
    <%= render 'shared/modules' %>
  </nav>
</header>